.castButton {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  width: 99.2%;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
  cursor: pointer;
  color: #354f52;
  position: relative;
}

.castButton:active {
  border: 3px solid #cad2c5;
}

#castButtonImg {
}

.castButtonTitle {
  align-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.9rem;
  user-select: none;
}

a {
  color: none;
  text-decoration: none;
}

.castName {
  font-weight: bold;
  color: #2f3e46;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

#detailsIcon {
  height: 1rem;
}
#detailLabelDiv {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1300px) {
  #castButtonImg {
    width: 10rem;
  }
}

@media (max-width: 750px) {
  #castButtonImg {
    width: 8rem;
  }

  .castButtonTitle {
    font-size: 1rem;
  }
}
