.castMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  background-color: #cad2c5;
  height: 100vh;
  overflow-y: scroll;
}

#castImg {
  width: 35vh;
  border-radius: 5% 5% 5% 5%;
}

#castNameHeader {
  font-size: 2.3rem;
  margin-top: 1rem;
}

.castInfoText {
  font-size: 1.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#castInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

#characterName {
  font-size: 1.8rem;
  margin-top: 1rem;
  text-align: center;
}

#tvMazeLink {
  height: 5vh;
  width: 18vw;
  margin-top: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #84a98c;
  color: #2f3e46;
  padding: 2px 12px 2px 12px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 8px 20px 30px -10px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  #castNameHeader {
    font-size: 2rem;
  }

  .castInfoText {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  #tvMazeLink {
    margin-bottom: 0.8rem;
    width: auto;
  }
}

@media (max-width: 750px) {
  #castImg {
    width: 25vh;
  }
  #castNameHeader {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  #characterName {
    font-size: 1.25rem;
  }

  .castInfoText {
    font-size: 1.25rem;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
  }

  #tvMazeLink {
    margin-top: 2rem;
  }

  #characterName {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
}
