.castButton {
  display: flex;
  margin: 0 0 0 0;
  width: 99.2%;
  color: black;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
  cursor: pointer;
}
.castButton:hover {
  color: #084a0d;
  border: 3px solid #0d8f16;
}

.castButton:active {
  color: #d3edd9;
  border: 3px solid #d3edd9;
}

img {
  margin: 0 0 0 0;
  width: initial;
}

.castButtonTitle {
  display: inline;
  align-self: center;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  user-select: none;
}


