#loadingDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
  background-color: #cad2c5;
  height:100vh;
}

#loadingImg {
  width: 33%;
  align-self: center;
  margin-top: 2%;
}

#waitMessage {
  font-size: 3rem;
  display: block;
  align-self: center;
  margin-top: 4rem;
}


