#mainDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 768px;
  min-height: 1024px;
}

#windowHeaderContainer {
  position: fixed;
  width: 100vw;
  height: 3vh;
  margin-top: 9.9vh;
  background-color: #e8e6e6;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#mobileHeader {
  position: fixed;
  width: 100vw;
  height: 8vh;
  margin-top: 9.9vh;
  background-color: #e8e6e6;
  display: none;
  justify-content: center;
}
.windowHeader {
  background-color: #84a98c;
  width: 50%;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  color: #2f3e46;
}

#infoWindow {
  background-color: #cad2c5;
  height: 90vh;
  width: 50vw;
  margin-top: 10vh;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#castWindow {
  background-color: #cad2c5;
  height: 90vh;
  width: 50vw;
  margin-top: 10vh;
  border-left: 2px solid black;
  overflow-y: scroll;
}

h2 {
  margin: 0 0 0 0;
  align-self: center;
  font-size: 1.2rem;
}

h3 {
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #2f3e46;
}

.infoText {
  margin-top: 0;
  font-size: 1.5rem;
}

#summaryHeader {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #2f3e46;
}

#summaryContainer {
  margin: 0 6rem 0 6rem;
  text-align: justify;
  text-justify: inter-character;
}

.castListContainer {
  margin-top: 2.8vh;
}

#CSVbutton {
  align-self: center;
  width: 30vw;
  height: 5vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #84a98c;
  color: #2f3e46;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 08px 20px 30px -10px;
}

.infoLabel {
  font-weight: bold;
  color: #2f3e46;
}

@media (max-width: 1700px) {
  .infoText {
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 1400px) {
  .infoText {
    margin-top: 0.35rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
  }
  #CSVbutton {
    width: 30vw;
  }
  #summaryContainer {
    margin: 0 4.5rem 0 4.5rem;
  }
}

@media (max-width: 1300px) {
  .infoText {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  #CSVbutton {
    width: 40vw;
  }
}

@media (max-width: 750px) {
  #mainDiv {
    flex-direction: column;
    min-width: 0;
    min-height: 0;
  }

  #windowHeaderContainer {
    display: none;
  }

  #infoWindow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 3vh;
    margin-bottom: 10vh;
    overflow-y: scroll;
  }

  #mobileHeader {
    display: flex;
    z-index: 2;
  }
  #activeMobileButton {
    background-color: #354f52;
    color: #1d2a2b;
    box-shadow: rgb(37, 38, 37) 3px 3px 6px 0px inset;
  }

  #inactiveMobileButton{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  #castWindow {
    width: 100vw;
    height: 100vh;
  }

  #castWindow {
    margin-top: 18vh;
  }
  .castListContainer {
    margin-top: 0;
  }

  .infoText {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
  }
  #summaryHeader {
    margin-top: 0;
  }

  #summaryContainer {
    margin: 0 2rem 0 2rem;
    text-align: justify;
    text-justify: inter-character;
  }

  #CSVbutton {
    width: 75vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h3 {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
  }
}

@media (max-height: 700px) {
  #CSVbutton {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
  }
  #infoWindow {
    height: 90vh;
  }
}

@media (min-width: 750px) {
  #infoWindow {
    opacity: 1 !important;
    max-width: 100% !important;
  }
}
