#mainDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 768px;
  min-height: 1024px;
}

#titleHeader {
  position: fixed;
  display: flex;
  background-color: green;
  width: 100vw;
  height: 10vh;
  justify-content: center;
}

.headerText {
  position: fixed;
  margin: 0 0 0 0;
  align-self: flex-end;
  font-size: 4rem;
}

#infoWindow {
  background-color: gray;
  height: 90vh;
  width: 50vw;
  margin-top: 10vh;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 1024px;
}

#castWindow {
  background-color: gray;
  height: 90vh;
  width: 50vw;
  margin-top: 10vh;
  border-left: 2px solid black;
  overflow-y: scroll;
  min-height: 1024px;
}

.windowHeaders {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 3px solid black;
  width: 50%;
  height: 3vh;
  position: fixed;
}

h2 {
  margin: 0 0 0 0;
  align-self: center;
}

h3 {
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.infoText {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

#summaryHeader {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

#summaryContainer {
  margin: 0 6rem 0 6rem;
  text-align: justify;
  text-justify: inter-character;
}

.castListContainer {
  margin-top: 3%;
  min-height: 1024px;
}

#infoHeader{
    width:50.3%;
}

@media (max-width: 1700px) {
  .infoText {
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }
  #infoHeader{
      width:49.8%;
  }
}
@media (max-width: 1400px) {
  .infoText {
    margin-top: 0.35rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 1300px) {
  .infoText {
    margin-top: 0.3rem;
    font-size: 1rem;
  }
}
