.headerText {
    position: fixed;
    margin: 0 0 0 0;
    align-self: flex-end;
    font-size: 3.5rem;
  }

  #titleHeader {
    position: fixed;
    display: flex;
    background-color: green;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    
  }